<template>
    <div class="flex flex-col justify-start h-full">
        <div class="flex items-end justify-center w-full h-24 p-4">
            <div v-on:click="removerCarrito" class="flex items-center justify-center px-4 py-2 text-base font-bold border cursor-pointer rounded-3xl border-red-vinaltura text-red-vinaltura">ELIMINAR CARRITO</div>
        </div>
        <div class="block w-full p-4">
            <div v-for="(vino, index) in arrayCarrito" v-bind:key="index" class="flex flex-row justify-around w-full p-4 mb-5 rounded-3xl bg-beige-fondo">
                <div class="flex items-center justify-center w-1/5 h-auto">
                    <img v-bind:src="vino.url_imagen" alt="Vino" class="w-auto h-auto max-h-40">
                </div>

                <div class="flex items-center justify-center w-3/5 h-auto">
                    <div class="w-full text-sm">
                        <b>{{ vino.titulo + ' ' + vino.anio }}</b>

                        <br>

                        <div class="flex flex-row items-center justify-center w-full pt-5 text-xs font-bold select-none">
                            <div class="mx-2 cursor-pointer" v-on:click="selecionOpcion('botella')">BOTELLA</div>
                            <div class="bg-white rounded-2xl block w-16 p-1.5 h-auto cursor-pointer" v-on:click="cambioOpcion">
                                <div class="h-3.5 w-full rounded-xl relative">
                                    <div v-bind:class="{'left-0': opcionCompra == 'botella', 'left-custom': opcionCompra == 'caja'}" class="h-3.5 w-3.5 absolute bg-red-vinaltura rounded-xl transition-all duration-300"></div>
                                </div>
                            </div>
                            <div class="mx-2 cursor-pointer" v-on:click="selecionOpcion('caja')">CAJA</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['value'],
        data() {
            return {
                arrayCarrito: [],
                opcionCompra: 'botella',
                cantidad: 1,
            }
        },
        methods: {
            removerCarrito: function() {
                this.$emit('input', 'borrar')
                this.arrayCarrito = []
            },
            cambioOpcion: function(){
                this.opcionCompra = (this.opcionCompra == 'botella'? 'caja' : 'botella')
            },
            selecionOpcion: function(opcion){
                this.opcionCompra = opcion
            },
            aumentar: function(){
                // Falta ver si existe un límite en la cantidad de botellas o de cajas
                this.cantidad++
            },
            disminuir: function(){
                if (this.cantidad > 1) {
                    this.cantidad--
                }
            },
        },
        mounted() {
            this.arrayCarrito = JSON.parse(localStorage.getItem('carrito'))
            console.log(JSON.parse(localStorage.getItem('carrito')));
        }
    }
</script>