<template>
    <div class="w-full pt-10 text-brown-vinaltura">
        <div class="flex flex-row justify-around w-full py-3 my-1 text-sm border-b border-brown-vinaltura">
            <div v-for="(categoria, index) in categorias" v-bind:key="index" class="w-1/4 text-center">
                <span v-bind:class="{'font-bold': index == index_seleccion_padre}" v-on:click="seleccionarCategoria(index, categoria)" class="cursor-pointer hover:font-bold">
                    {{ categoria.nombre }}
                </span>
            </div>
        </div>

        <div class="flex flex-row w-full py-2 mb-6 text-sm justify-evenly">
            <div v-for="(subcategoria, index) in categoria_seleccionada.subcategorias" v-bind:key="index" v-bind:class="{'border-beige-select': index == index_seleccion_hijo, 'border-transparent': index != index_seleccion_hijo}" v-on:click="seleccionarSubcategoria(index, subcategoria)" class="cursor-pointer p-1.5 border-b hover:border-beige-select">
                {{ subcategoria.nombre }}
            </div>
        </div>

        <div class="w-full pb-8" v-for="(premiado, index) in subcategoria_seleccionada.vinos_premiados" v-bind:key="index">
            <vino-tipo
                v-model="value"
                v-bind:vino="premiado"
                v-on:carrito="agregarAlCarrito"
            />
        </div>

        <div class="w-full h-8"></div>

        <div class="flex flex-col w-full text-lg font-semibold border-b border-brown-vinaltura text-brown-vinaltura">
            <div class="w-full" v-for="(info, index) in informacion_categoria" v-bind:key="index">
                <div v-on:click="seleccionarDescripcion(index)" class="flex flex-row items-center justify-between w-full h-16 px-5 border-t cursor-pointer select-none border-brown-vinaltura">
                    <span>{{ info.titulo }}</span>
                    <div class="relative w-8 h-8">
                        <div class="absolute top-0 bottom-0 left-0 right-0 w-4 m-auto h-0.5 bg-red-vinaltura"></div>
                        <div class="absolute top-0 bottom-0 left-0 right-0 h-4 m-auto w-0.5 bg-red-vinaltura"></div>
                    </div>
                </div>
                <div v-bind:class="{'opacity-100 h-20': seleccionado == index, 'opacity-0 h-0': seleccionado != index}" class="left-0 flex items-center justify-center w-full overflow-hidden transition-all duration-300">
                    <span class="w-auto text-brown-vinaltura">Info.</span>
                </div>
            </div>
        </div>

        <div class="w-full h-2"></div>

        <div class="flex items-center justify-center w-full text-2xl font-bold text-center h-52">
            <span>
                VINOS
                <br>
                PREMIADOS
            </span>
        </div>

        <div class="w-full pb-8" v-for="premiado in subcategoria_seleccionada.vinos" v-bind:key="premiado.id">
            <vino-tipo
                v-model="value"
                v-bind:vino="premiado"
                v-on:carrito="agregarAlCarrito"
            />
        </div>
    </div>
</template>

<script>
    export default {
        props: ['value'],
        data() {
            return {
                categorias: [],
                categoria_seleccionada: {
                    nombre:'',
                    subcategorias: []
                },
                subcategoria_seleccionada: {
                    nombre: '',
                    vinos_premiados: [],
                    vinos: []
                },
                index_seleccion_padre: 0,
                index_seleccion_hijo: 0,
                informacion_categoria: [],
                seleccionado: undefined
            }
        },
        mounted() {
            this.categorias = JSON.parse(localStorage.getItem('categorias'))
            this.categoria_seleccionada = this.categorias[0]
            this.subcategoria_seleccionada = this.categoria_seleccionada.subcategorias[0]
            this.informacion_categoria = JSON.parse(localStorage.getItem('informacion_categoria'))
        },
        methods: {
            agregarAlCarrito(vino) {
                this.$emit('input', vino)
            },
            seleccionarCategoria(index, categoria) {
                this.categoria_seleccionada = categoria
                this.index_seleccion_padre = index
                this.index_seleccion_hijo = 0
                if (categoria.subcategorias.lenght == 0) {
                    this.subcategoria_seleccionada= {nombre: '', vinos_premiados: [], vinos: []}
                } else {
                    this.subcategoria_seleccionada = categoria.subcategorias[0]
                }
            },
            seleccionarSubcategoria(index, subcategoria) {
                this.index_seleccion_hijo = index
                this.subcategoria_seleccionada = subcategoria
            },
            seleccionarDescripcion(index) {
                if (this.seleccionado == index) {
                    this.seleccionado = undefined
                } else {
                    this.seleccionado = index
                }
            }
        }
    }
</script>