<template>
    <div class="relative w-9 h-9 rounded-circle" title="Tienda">
        <a href="/carrito" class="cursor-pointer">
            <img class="w-full h-full max-w-full max-h-full rounded-circle" src="/assets/img/svg/tienda.svg" alt="Tienda">
            <div v-if="cantidad > 0" v-bind:class="{flex: cantidad > 0, hidden: cantidad == 0}" class="absolute top-0.5 -right-1 justify-center items-center h-4 w-auto px-0.5 rounded-lg bg-red-vinaltura text-white text-xs">
                &nbsp;
                <span>{{ cantidad }}</span>
                &nbsp;
            </div>
        </a>
    </div>
</template>

<script>
    export default {
        props: ['value'],
        data() {
            return {
                cantidad: 0,
                arrayCarrito: [],
            }
        },
        mounted() {
            if (localStorage.carrito) {
                this.cantidad = JSON.parse(localStorage.getItem('carrito')).length
            }
        },
        watch: {
            value(){
                if (this.value == 'borrar') {
                    localStorage.removeItem('carrito')
                    this.cantidad = 0
                } else if (localStorage.carrito) {
                    this.arrayCarrito = JSON.parse(localStorage.carrito)
                    this.arrayCarrito.push({
                        id:         this.value[0].id,
                        titulo:     this.value[0].titulo,
                        anio:       this.value[0].anio,
                        precio:     this.value[0].precio,
                        wine_club:  this.value[0].wine_club,
                        maximo:     this.value[0].maximo,
                        url_imagen: this.value[0].url_imagen,
                        opcion:     this.value[1],
                        cantidad:   this.value[2]
                    })
                    localStorage.setItem('carrito', JSON.stringify(this.arrayCarrito))
                    this.cantidad = this.arrayCarrito.length
                } else {
                    localStorage.setItem('carrito', JSON.stringify([{
                        id:         this.value[0].id,
                        titulo:     this.value[0].titulo,
                        anio:       this.value[0].anio,
                        precio:     this.value[0].precio,
                        wine_club:  this.value[0].wine_club,
                        maximo:     this.value[0].maximo,
                        url_imagen: this.value[0].url_imagen,
                        opcion:     this.value[1],
                        cantidad:   this.value[2]
                    }]))
                    this.cantidad = JSON.parse(localStorage.carrito).length
                }
            }
        }
    }
</script>