<template>
    <div class="w-full p-4 bg-beige-fondo text-brown-vinaltura rounded-3xl">

        <div class="relative flex flex-row justify-around w-full h-auto pt-4">
            <div class="flex items-center justify-center w-1/5 h-auto">
                <img v-bind:src="vino.url_imagen" alt="Vino" class="w-auto h-auto max-h-72">
            </div>

            <div class="flex items-center justify-center w-3/5 h-auto">
                <div class="w-full text-sm">
                    <b>{{ vino.titulo }}</b>
                    <p>{{ vino.anio }}</p>
                    <br>
                    <p>{{ vino.descripcion }}</p>
                </div>
            </div>
        </div>

        <div class="flex flex-col items-center w-full pt-6 text-2xl text-center">
            <span><span class="font-light">PRECIO:</span> <b>${{ vino.precio }}</b></span>
            <span><span class="font-light">WINE CLUB:</span> <b class="text-red-vinaltura">${{ vino.wine_club }}</b></span>
            <div class="flex flex-row items-center justify-center w-full pt-5 text-xs font-bold select-none">
                <div class="mx-2 cursor-pointer" v-on:click="selecionOpcion('botella')">BOTELLA</div>
                <div class="bg-white rounded-2xl block w-16 p-1.5 h-auto cursor-pointer" v-on:click="cambioOpcion">
                    <div class="h-3.5 w-full rounded-xl relative">
                        <div v-bind:class="{'left-0': opcionCompra == 'botella', 'left-custom': opcionCompra == 'caja'}" class="h-3.5 w-3.5 absolute bg-red-vinaltura rounded-xl transition-all duration-300"></div>
                    </div>
                </div>
                <div class="mx-2 cursor-pointer" v-on:click="selecionOpcion('caja')">CAJA</div>
            </div>
        </div>

        <div class="w-full py-6">
            <div class="flex flex-row justify-between w-full h-auto bg-white rounded-lg">
                <div class="flex items-center justify-center w-1/2 h-16 rounded-lg">
                    <div class="flex flex-row items-center select-none">
                        <div class="relative w-8 h-8 border cursor-pointer border-red-vinaltura rounded-circle" v-on:click="disminuir">
                            <div class="absolute top-0 bottom-0 left-0 right-0 w-2 m-auto h-0.5 bg-red-vinaltura"></div>
                        </div>
                        <div class="mx-3 text-2xl">{{ cantidad }}</div>
                        <div class="relative w-8 h-8 border cursor-pointer border-red-vinaltura rounded-circle" v-on:click="aumentar">
                            <div class="absolute top-0 bottom-0 left-0 right-0 w-3 m-auto h-0.5 bg-red-vinaltura"></div>
                            <div class="absolute top-0 bottom-0 left-0 right-0 h-3 m-auto w-0.5 bg-red-vinaltura"></div>
                        </div>
                    </div>
                </div>
                <div class="flex items-center justify-center w-1/2 h-16 text-base font-bold text-white rounded-lg cursor-pointer select-none bg-red-vinaltura" v-on:click="agregarAlCarrito(vino)">
                    <span>AGREGAR</span>
                </div>
            </div>
        </div>

        <div class="flex flex-row w-full pb-4">
            <div class="flex items-start justify-center w-1/6 px-2">
                <div class="relative w-10 max-w-full">
                    <img src="/assets/img/svg/porciento.svg" alt="%">
                    <div class="absolute top-0 bottom-0 left-0 right-0 flex items-center justify-center text-lg font-bold text-white pointer-events-none">
                        <span>%</span>
                    </div>
                </div>
            </div>
            <div class="w-5/6">
                <p>¿Quieres obtener los descuentos de nuestro <b>WINE CLUB?</b></p>
                <br>
                <p>
                    <span class="inline py-1 font-bold border-b cursor-pointer text-red-vinaltura border-red-vinaltura">REGÍSTRATE</span>
                    o
                    <span class="inline py-1 font-bold border-b cursor-pointer text-red-vinaltura border-red-vinaltura">INGRESA</span>
                    con tu usuario
                </p>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        props: ['value', 'vino'],
        data() {
            return {
                // agregadosCarrito: 0,
                opcionCompra: 'botella',
                cantidad: 1,
            }
        },
        methods: {
            cambioOpcion: function(){
                this.opcionCompra = (this.opcionCompra == 'botella'? 'caja' : 'botella')
            },
            selecionOpcion: function(opcion){
                this.opcionCompra = opcion
            },
            aumentar: function(){
                // Falta ver si existe un límite en la cantidad de botellas o de cajas
                this.cantidad++
            },
            disminuir: function(){
                if (this.cantidad > 1) {
                    this.cantidad--
                }
            },
            agregarAlCarrito(item){
                // this.agregadosCarrito++
                this.$emit('carrito', [item, this.opcionCompra, this.cantidad])
            }
        },
        mounted() {
        },
        watch: {}
    }
</script>
